*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,4,0,0.1)), url(laptop.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.nav{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    padding: 20px 7% 2px 7%;
}
.navbar{
    display: flex;    
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 17px;
}
.navbar ul li a{
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.navbar ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background: red;
    display: block;
    transition: .5s;
}
.navbar ul li a:hover::after{
    width: 100%;
}
.logo h3{
    color: red;
    font-size: 30px;
}
.logo h3 span{
    color: yellow;
    font-size: 20px;
}
.contact h3{
position: absolute;
display: flex;
justify-content: space-between;
align-items: center;
}
.contact .button{
    width: 70px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    color:yellow;
    background:rgba(0,0,0,0.733);
    transition: all .5s ease .0s;
}
.contact .button:hover{
    background: goldenrod;
    color: black;
    transform: translateY(-10px);
    box-shadow: 4px 0px 2px #000, 3px 4px 12px;
}